@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

/* Common-Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

/* styling */
:root {
  --white-color: #fff;
  --dark-bg: #333;
  --extra-dark-bg: #222;
  --icon-color: #a79a2a;
  --card-color: #a79a2d;
}

/* Section1 */

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: var(--white-color);
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
  text-align: center;
}
.section-1-icons {
  position: relative;
  top: -20%;
  left: -5%;
  transform: translate(5%, 20%);
}
.section-1-icons i {
  position: absolute;
  font-size: 35rem;
  color: var(--icon-color);
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
  transform: scale(0);
  transition: transform 0.5s ease-in;
}

.section-1-icons i.change {
  transform: scale(1);
  transition: transform 0.5s 0.5s ease-in-out;
}

/* Section-2 */
.section-2 {
  width: 100%;
  height: 100vh;
  background-color: var(--extra-dark-bg);
  display: flex;
  flex-direction: column;
  padding: 10rem 10rem;
  justify-content: space-between;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1rem 1rem 1rem #000;
  width: 30rem;
  background-color: var(--card-color);
  position: relative;
  transition: transform 0.3s ease-in;
}
.card::before {
  content: "";
  top: 0;
  left: -1rem;
  height: 100%;
  width: 1rem;
  background-color: #817824;
  position: absolute;
  transform: skewY(45deg);
  transform-origin: right;
}
.card::after {
  top: -1rem;
  transform-origin: bottom;
  left: 0;
  content: "";
  height: 1rem;
  width: 100%;
  background-color: #817824;
  position: absolute;
  transform: skewX(45deg);
}
.card-img {
  width: 100%;
  object-fit: cover;
}
.card-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #111;
  margin: 2rem 0;
}

.card-btn {
  width: 70%;
  border: none;
  background: #111;
  color: #888;
  border-radius: 5rem;
  padding: 0.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  cursor: pointer;
  box-shadow: -0.2rem -0.2rem -0.2rem #000;
}
.card:hover {
  transform: translateY(-3rem);
}

/* Section-3 */

.section-3 {
  background-color: var(--dark-bg);
  padding: 5rem 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
}
.gallery-link {
  position: relative;
  margin: 4rem 1rem;
}
.gallery-link::after {
  position: absolute;
  content: "";
  top: 30%;
  left: 2rem;
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  transition: width 0.5s;
}
.gallery-link::before {
  position: absolute;
  content: "";
  top: 2vw;
  left: 80%;
  width: 0.2rem;
  height: 0;
  background-color: #fff;
  transition: height 0.5s;
  z-index: 1;
}

.food-img {
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946,
    0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
    transform: scale(1);
  transition: all 0.5s;
}

.food-name {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  left: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
  
  
}

.food-des {
  position: absolute;
  bottom: 3vw;
  left: 2rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  width: 70%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.gallery-link:hover::after{
  width: 90%;
}
.gallery-link:hover::before{
  height: 80%;
}
.gallery-link:hover .food-name{
  width: 100%;
  transition: width 1.5s 0.5s;
}
.gallery-link:hover .food-des{
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 1s;
}

.gallery-link:hover .food-img{
  /* transform: translate(-15rem -15rem); */
  box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946,
    3rem 3rem 0.1rem #297ce9, 4rem 4rem 0.1rem #e92999;
    transform: scale(1);
    filter: blur(0.5rem);opacity: 0.5;
    transform: scale(1.1);
}
/* Footer */

.section-4{
  height: 30vh;
  width: 100%;
  background: var(--extra-dark-bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-4-heading{
  color: var(--icon-color);
  font-size: 4rem;
  font-weight: 900;
}
.section-4-para{
  font-size: 1.5rem;
  color: #888;
  text-transform: uppercase;
}
.input{
display: flex;
align-items: center;
justify-content: space-between;
}
.email{
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: 0.2rem solid #a79a2d;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #a79a2d;
}
.email-btn {
  border: none;
  color: #a79a2d;
  font-size: 1.6rem;
  background: #000;
  padding: 1rem;
  position: relative;
  left: -4rem;
  cursor: pointer;
}